@{
    ViewData["Title"] = "Home Page";
}

<div id="root">
    <div class="text-center" id="container">
        <div>
            <h1 class="display-4" style="font-weight:bold">Swaarm Graduate Full Stack Developer Test</h1>
            <p>Started Monday 16/04/2023 16:00:00.</p>
        </div>

        <input type="text" id="name-input" placeholder="Name" />
        <button id="submit-button" onclick="submitInfo()">Submit</button>

        <div id="data-section">
            <div>
                <table id="db-table">
                    <thead>
                        <tr>
                            <th onclick="sortFunc(1)">Name</th>
                            <th onclick="sortFunc(2)">Created</th>
                            <th onclick="sortFunc(3)">Modified</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="data-container" onclick="editInfo(event)"></tbody>
                </table>
            </div>

            <button id="clear-button" onclick="clearTable()">Clear Table</button>
        </div>
    </div>

    <script>
        let elementID = 1;
        let desc = true;

        function fetchAllData()
        {
            fetch('@Url.Action("GetAllData", "Home")')
                .then(response => response.json())
                .then(data =>
                {
                    if (data.length === 0)
                    {
                        hideDataSection();
                        return;
                    }

                    showDataSection();

                    let html = '';
                    for (const obj of data)
                    {
                        html += '<tr>';
                        for (const [key, value] of Object.entries(obj))
                        {
                            if (key === 'id')
                            {
                                continue;
                            }
                            html += `<td>${value}</td>`;
                        }
                        html += `<td><button onclick="deleteInfo(event)">Delete</button></td>`;
                        html += '</tr>';
                    }

                    document.querySelector('#data-container').innerHTML = html;
                })
                .catch(error =>
                {
                    console.error(error);
                    alert("An error occurred while fetching the data.");
                });
        }

        function hideDataSection()
        {
            document.querySelector('#data-section').style.display = 'none';
            return;
        }

        function showDataSection()
        {
            document.querySelector('#data-section').style.display = 'block';
            return;
        }

        fetchAllData();

        function submitInfo() 
        {
            var name = $('#name-input').val();
            var dateTime = new Date();
            var date = dateTime.getFullYear() + '-' + (dateTime.getMonth() + 1) + '-' + dateTime.getDate();
            var time = dateTime.getHours() + ":" + dateTime.getMinutes() + ":" + dateTime.getSeconds();

            var timeString = date + ' ' + time;

            $.ajax({
                url: "/Home/CreateData",
                type: "POST",
                data: { name: name, date: timeString },
                success: function (result) 
                {
                    alert("Success");
                    fetchAllData();
                },
                error: function (xhr, textStatus, errorThrown) 
                {
                    alert("An error occurred while calling the C# function.");
                }
            });
        }

        function editInfo(event)
        {
            var dateTime = new Date();
            var date = dateTime.getFullYear() + '-' + (dateTime.getMonth() + 1) + '-' + dateTime.getDate();
            var time = dateTime.getHours() + ":" + dateTime.getMinutes() + ":" + dateTime.getSeconds();

            var timeString = date + ' ' + time;

            const td = event.target.parentNode.firstElementChild;
            if (td.tagName === 'TD')
            {
                const value = td.textContent;
                const newValue = prompt('Enter a new name:', value);
                if (newValue && newValue !== value)
                {
                    const originalValue = value;
                    $.ajax({
                        url: "/Home/UpdateData",
                        type: "POST",
                        data: { oldName: originalValue, name: newValue, date: timeString },
                        success: function (result)
                        {
                            alert("Success");
                            fetchAllData();
                        },
                        error: function (xhr, textStatus, errorThrown)
                        {
                            alert("An error occurred while calling the C# function.");
                        }
                    });
                }
            }
        }

        function deleteInfo(event)
        {
            const tr = event.target.closest('tr');
            const name = tr.firstElementChild.textContent;

            $.ajax({
                url: "/Home/DeleteData",
                type: "GET",
                data: { name: name },
                success: function (result)
                {
                    alert("Success");
                    fetchAllData();
                },
                error: function (xhr, textStatus, errorThrown)
                {
                    alert("An error occurred while calling the C# function.");
                }
            });
        }

        function clearTable()
        {
            $.ajax({
                url: "/Home/ClearTable",
                type: "POST",
                success: function (result) 
                {
                    alert("Success");
                    fetchAllData();
                },
                error: function (xhr, textStatus, errorThrown) 
                {
                    alert("An error occurred while calling the C# function.");
                }
            });
        }

        function sortFunc(tempElement)
        {
            if (tempElement === elementID)
            {
                if (desc === false)
                {
                    desc = true;
                }
                else
                {
                    desc = false;
                }
            }
            else if (tempElement === 1)
            {
                elementID = 1;
            }
            else if (tempElement === 2)
            {
                elementID = 2;
            }
            else if (tempElement === 3)
            {
                elementID = 3;
            }

            console.log(desc + " " + elementID);

            $.ajax({
                type: 'POST',
                url: '/Home/SetSort',
                data: { descending: desc, elementID: elementID },
                success: function (result)
                {
                    alert("Success");
                    fetchAllData();
                },
                error: function (xhr, status, error)
                {
                    alert("An error occurred while calling the C# function.");
                }
            });
        }

        function getElement(tempElement)
        {
            
        }
    </script>
</div>
