@{
    ViewData["Title"] = "Home Page";
}

@model InputHandler

<form asp-action="Index" method="post">
    <div class="text-center">
        <h1 id="title" class="display-4">Security Input</h1>
        <p>Please enter your information.</p>

        <div class="form-group">
            <label asp-for="serverID">Server Number</label>
            <input type="number" class="form-control" id="serverID" asp-for="serverID" required />
            <span asp-validation-for="serverID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="alarmID">Alarm Number</label>
            <input type="number" class="form-control" id="alarmID" asp-for="alarmID" required />
            <span asp-validation-for="alarmID" class="text-danger"></span>
        </div>

        @*<p>Server Number: <input type="number" asp-for="serverID" /></p>
        <p>Alarm Number: <input type="number" asp-for="alarmID" /></p>*@

        <div class="form-group">
            <p><input type="submit" value="submit" /></p>
        </div>

        <br><br />

        <div class="form-group">
            <label id="output">@ViewData["output"]</label>
        </div>
    </div>
</form>

<script>
    document.querySelector('form').addEventListener('submit', function (event)
    {
        event.preventDefault();

        var serverID = document.querySelector('#serverID').value;
        var alarmID = document.querySelector('#alarmID').value;

        document.querySelector('#output').textContent = 'Alarm id ' + alarmID + ' has been received from video server number ' + serverID + '.';
    });
</script>
